
        

.left-arrow{
	width:22px;
	height:197px;
	display:block;
	margin-right:10px;
	float:left;
}

.right-arrow{
	width:22px;
	height:197px;
	display:block;
	margin-left:10px;
	float:left;	
}
    .bottom_bar{
    font-size: 15px;
    width: 100%;
    height: auto;
    float: left;
    background-color:black;
    color: white;
}

.social_links{
    margin-top: 10px;
   
    height: 20px;

    float:left;

   
}
   
.social{
 
    margin-left: 5px;
text-align: center;
    width:20px;
    height: 100%;
    float: left;
   
   border-radius: 50%;
}
.facebook{
background-color:blue;
}
.twitter{
    background-color: aqua;
}
.linked_in{
    background-color: blue;
}
 .containerul_wrapper{
     float: left;
        width: 100%;
        background-color:lightcyan;
}
.nav_tab a{
    text-decoration: none;
}
.lsbutton{
    background-color:green;
    width: 100%;
  padding: 10px 18px;
  background-color: forestgreen;
}

.blsocial{
    margin-top: 7px;
}

.socialb-link a{
    text-decoration: none;
    color: dodgerblue;
}

.socialbox{
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.bottom_bar ul li{
    list-style: none;
   
    color: dodgerblue;
    float: left;
  
    margin-right: 10px;
}
.bottom_bar ul li a{
   text-decoration:none;  
}
.tabbar{

    background-color: lightblue;
    width: 100%;
    clear: both;
    float: left
}
.tabbar button{
    height: 100%;
    border: 3px solid black;
    background-color:lightblue;
    opacity: 0.8;
    border: none;
    color: white;
}
.tabbar button:active,.tabbar button:hover{
    opacity: 1;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    
/* Styles */
    
    /* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
  
 
.box{
    background-color: white;
    margin: 10px;
    float: left;
    height: 25px;
    width: 25px;
    border: 2px solid black;
   border-radius: 3px;
   
}
.lline{
  float: left;
   width: 80%;
    border: 1px solid black;
    margin:2px;
}
.c_name{
    margin: 10px;
    float: left;
}


.responsive-tab{
  
  display:none;
float :left;
  width: 100%; 
  height: 50%; 
  overflow: auto; 
  
 
   margin-bottom: 0px; 
}*/

    responsive-tab-content {
  background-color:gray;

 
  width: 100%; 
height:auto;
}


.bar_2{
    float: left;
font-size: 10px;
    width: 100%;

}
.search{
    width: auto
    border: none;
    padding-top: 10px;
    padding-right: 10px;
   float: right;
}
.cart{
    margin-left: 10px;
    margin-top: 10px;
margin-right: 0px;
position: relative;
    height: 30px;
    width: 30px;
    float:right; 
    left: -10px;
}
.badge{
    position: relative;
    left:30px;
    text-align: center;
   font-size: 11px;
    margin-left: -15px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
    float:right;
    background-color: red;
    border-radius: 50%;
}
#badge_no{

    text-align: center;
     color: white;
    margin-left: 3px;
    padding-top:10px;
    text-align: center;
}
.products{
    width: 100%;
    float: left;
   
}
.products button{
    width: auto;
    height: auto;
    color: white;
    border:none ;
    border-radius: 5px;
    background-color:blue;
     font: bold 10px georgia;
       opacity: 0.8; 
    padding: 4px;
}
.products button:hover{
    color: white;
    opacity: 1;
}

.advert{
    background-size:cover;

    width: 100%;
    float: left;
    height: 150px;
 
}
    .mySlides{
        float: left;
    display: none;
    height: 150px;
    width: 100%;;
}
         

.hs{
    float: left;
	width:100%;
	margin:auto;
}

.hs ul{
	list-style:none;
	margin:0;
	padding:0;	
}

.hs ul li{
    overflow: hidden;
	width:130px;
    height: 150px;
	float:left;
	margin-right:10px;
}
    .hs ul li:hover{
     
        
        
    }
  
.showcase,.showcase2{
    
  /* Set it so we could calculate the offsetLeft */
  position: relative;
  height: 170px;
  width: 78%;
  /* Add scroll-bars */
  overflow: hidden;
  float:left;
}

    
    .bottom{
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 20px 10px 10px 10px;
   
    float: left;
}
    .bottoml{
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    clear: both;
}

.left{
    width: 100%;
   float: left; 
    clear: both;
    text-align:left;
   
}
.middle{
 display: none;
}

.right{
    width: 100%;
    text-align: center;
 float: left;
}



      span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
    
     .cancelbtn, .signupbtn {
    width: 100%;
  }
    
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


   .modal-content {
  background-color:white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
height:auto;
}
.hi{
    height: auto;
}
 
    
}








/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
   
.box{
    display:none;
   
}
.c_name{
    font-size: 20px;
    margin: 20px;
    float: left;
}


.responsive-tab{
display:block;
}

    .responsive-tab-content {
     display:block;

}
    .nav_tab{
    font-size: 15px;
        float: left;
        margin: 10px 10px 20px 10px;
    }

    .nav_tab a:hover{
        
        color: deeppink;
      
    }

.cart{
    margin-left: 10px;
    margin-top: 10px;
margin-right: 0px;
position: relative;
    height: 30px;
    width: 30px;
    float:right; 
    left: -10px;
}
.badge{
    position: relative;
    left:30px;
    text-align: center;
   font-size: 11px;
    margin-left: -15px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
    float:right;
    background-color: red;
    border-radius: 50%;
}
#badge_no{

    text-align: center;
     color: white;
    margin-left: 3px;
    padding-top:10px;
    text-align: center;
}
.products{
    width: 100%;
    float: left;
   
}
.products button{
    width: auto;
    height: auto;
    color: white;
    border:none ;
    border-radius: 5px;
    background-color:blue;
     font: bold 10px georgia;
       opacity: 0.8; 
    padding: 4px;
}
.products button:hover{
    color: white;
    opacity: 1;
}


.advert{
    background-size:cover;

    width: 100%;
    float: left;
    height: 300px;
 
}
    .mySlides{
        float: left;
    display: none;
    height: 300px;
    width: 100%;;
}


   
      .bottom{
          font-size: 14px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin: 20px 30px 10px 50px;
    height: 200px;
    width: 330px;
    float: left;
}
    
    .bottoml{
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    clear: both;
}

.left{
  
   float: left; 
    clear: both;
    text-align:left;
   
}
.middle{
  
    float: left;
    color: white;
}

.right{
 
    text-align: center;
 float: left;
}



      span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
    
     .cancelbtn, .signupbtn {
    width: 100%;
  }
    
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


   .modal-content {
  background-color:white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
height:auto;
}
.hi{
height: 600px;
}
 
           
.hs{
    margin: 10px;
    float: left;
    clear: both;
	width:1250px;
	margin:auto;
}
     
.hs ul{

	list-style:none;
	margin:0;
	padding:0;	
}

  
     .showcase ,.showcase2,.showcase3{
  /* Set it so we could calculate the offsetLeft */
  height: 197px;
  width: 1150px;
  /* Add scroll-bars */
  overflow: hidden;
  float:left;
}
     .offerpro-container{
        margin-left: 60px;
    }
  
  
}






/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    
/* Styles */
    .offerpro-container{
        margin-left: 60px;
    }
  
.box{
    display: none;
   
}
.c_name{
    font-size: 20px;
    margin: 20px;
    float: left;
}


.responsive-tab{
display:block;
}

    .responsive-tab-content {
     display:block;

}
    .nav_tab{
    font-size: 15px;
        float: left;
        margin: 10px 10px 20px 10px;
    }

    .nav_tab a:hover{
        
        color: deeppink;
      
    }

.cart{
    margin-left: 10px;
    margin-top: 10px;
margin-right: 0px;
position: relative;
    height: 30px;
    width: 30px;
    float:right; 
    left: -10px;
}
.badge{
    position: relative;
    left:30px;
    text-align: center;
   font-size: 11px;
    margin-left: -15px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
    float:right;
    background-color: red;
    border-radius: 50%;
}
#badge_no{

    text-align: center;
     color: white;
    margin-left: 3px;
    padding-top:10px;
    text-align: center;
}
.products{
    width: 100%;
    float: left;
   
}
.products button{
    width: auto;
    height: auto;
    color: white;
    border:none ;
    border-radius: 5px;
    background-color:blue;
     font: bold 10px georgia;
       opacity: 0.8; 
    padding: 4px;
}
.products button:hover{
    color: white;
    opacity: 1;
}


.advert{
    background-size:cover;

    width: 100%;
    float: left;
    height: 300px;
 
}
    .mySlides{
        float: left;
    display: none;
    height: 300px;
    width: 100%;;
}


   
      .bottom{
          font-size: 14px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin: 20px 30px 10px 50px;
    height: 200px;
    width: 330px;
    float: left;
}
    
    .bottoml{
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    clear: both;
}

.left{
  
   float: left; 
    clear: both;
    text-align:left;
   
}
.middle{
  
    float: left;
    color: white;
}

.right{
 
    text-align: center;
 float: left;
}



      span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
    
     .cancelbtn, .signupbtn {
    width: 100%;
  }
    
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


   .modal-content {
  background-color:white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
height:auto;
}
.hi{
height: 600px;
}
 
           
.hs{
    margin: 10px;
    float: left;
    clear: both;
	width:1250px;
	margin:auto;
}
     
.hs ul{

	list-style:none;
	margin:0;
	padding:0;	
}

  
     .showcase ,.showcase2,.showcase3{
  /* Set it so we could calculate the offsetLeft */
  height: 197px;
  width: 1150px;
  /* Add scroll-bars */
  overflow: hidden;
  float:left;
}
  
}









/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
     .offerpro-container{
        margin-left: 60px;
    }
  
     
.box{
    display: none;
   
}
.c_name{
    font-size: 20px;
    margin: 20px;
    float: left;
}


.responsive-tab{
display:block;
}

    .responsive-tab-content {
     display:block;

}
    .nav_tab{
    font-size: 15px;
        float: left;
        margin: 10px 10px 20px 10px;
    }

    .nav_tab a:hover{
        
        color: deeppink;
      
    }

.cart{
    margin-left: 10px;
    margin-top: 10px;
margin-right: 0px;
position: relative;
    height: 30px;
    width: 30px;
    float:right; 
    left: -10px;
}
.badge{
    position: relative;
    left:30px;
    text-align: center;
   font-size: 11px;
    margin-left: -15px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
    float:right;
    background-color: red;
    border-radius: 50%;
}
#badge_no{

    text-align: center;
     color: white;
    margin-left: 3px;
    padding-top:10px;
    text-align: center;
}
.products{
    width: 100%;
    float: left;
   
}
.products button{
    width: auto;
    height: auto;
    color: white;
    border:none ;
    border-radius: 5px;
    background-color:blue;
     font: bold 10px georgia;
       opacity: 0.8; 
    padding: 4px;
}
.products button:hover{
    color: white;
    opacity: 1;
}


.advert{
    background-size:cover;

    width: 100%;
    float: left;
    height: 300px;
 
}
    .mySlides{
        float: left;
    display: none;
    height: 300px;
    width: 100%;;
}


   
      .bottom{
          font-size: 14px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin: 20px 30px 10px 50px;
    height: 200px;
    width: 330px;
    float: left;
}
    
    .bottoml{
    text-align: center;
    background-color: black;
    height: auto;
    width: 100%;
    clear: both;
}

.left{
  
   float: left; 
    clear: both;
    text-align:left;
   
}
.middle{
  
    float: left;
    color: white;
}

.right{
 
    text-align: center;
 float: left;
}



      span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
    
     .cancelbtn, .signupbtn {
    width: 100%;
  }
    
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


   .modal-content {
  background-color:white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
height:auto;
}
.hi{
height: 600px;
}
 
           
.hs{
    margin: 10px;
    float: left;
    clear: both;
	width:1250px;
	margin:auto;
}
     
.hs ul{

	list-style:none;
	margin:0;
	padding:0;	
}

  
     .showcase ,.showcase2,.showcase3{
  /* Set it so we could calculate the offsetLeft */
  height: 197px;
  width: 1150px;
  /* Add scroll-bars */
  overflow: hidden;
  float:left;
}
  
}






/***************************************************/


/*************************/

/*************************/
body{
   font: bold 13px georgia;
    
}


.display_container{
    width: 100%;
	margin:auto;
  clear: both;

height: 200px;
}



.display_tabs{
   padding: 4px; 
    float: left;
    height: 180px;
    width: 140px;
   list-style: none;
}
.display_tabs button{
    padding: 3px;
}
.bottom_bar{
    font-size: 15px;
    width: 100%;
    float: left;
    background-color:black;
    color: white;
}
.sm{
    float: left;
    padding: 15px;
}
.main_about{
    width: 100%;
    background-color: aqua;
    float: left;
}
.about_main{
  
 width: 100%;
    height: auto;
    background-color:lightcyan;
    padding: 10px 40px 20px 40px;
border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
    float: left;

}
.nameproduct{
    text-align: center;
    height: 10%;
    width: 100%;
    color:black;
    font-size: 10;
    font-family:cursive;
}
.selimage{
    float: left;
    height: 50%;
    width: 100%;
}
.selimage img{
    width: 100%;
    height: 100%;
    float: left;
}
.selimage img:hover{
   background-color: yellow;
}
.description{
    overflow: hidden;
   font-size:10px;
       text-align: center;
    color:darkslategray;
    height: 30%;
    width: 100%;
    background-color: lightcyan;
    float: left;
}
.purchase{
    float: left;
    border: 3px solid white;
    font-size: 12px;
    background-color: lightcyan;
    height: 15%;
    width: 100%;
    float: left;
    color:red;
}
.purchase button{
    border: none;
    border-radius: 5px;
    background-color:chartreuse;
    color: white;
    width: 30px;
    font-size: 10px;
    margin-right: 10px;
}
.deal_title{
  clear: both;
    text-align: center;
    font-weight: bold;
    
}











.cart_lside{
    
    text-align: center;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
    width: 400px;
    height: 650px;
    background-color:skyblue;
}
.cart_rside{
    text-align: center;
    border-top-left-radius:20px;
    border-bottom-right-radius: 20px;
    margin: 20px 0px 10px 30px;
    float: left;
    height:650px;
    width:700px;;
    background-color:skyblue ;
}
.cart_lside_button{
    margin-top: 10px;
background-color:red;
    border: none;
    font-size: 15px
}
.cart_list{
    margin: 10px 0px 15px 20px; 
    height: 40px;
    width: 85%;
    background-color: blue;
}
.cart_list_description{
    margin: 10px 0px 0px 0px;
    float: left;
  color: white; 
    width: 50%;
    margin-right: 10%;
}
.cart_list_value{
        margin: 10px 0px 0px 0px;
    float: left;
    color: white;
    width: 40%;
 
}
.cart_rside-title{
margin-top: 30px;
text-align: center;
 border: none;
    background-color: lightgreen;
font-size: 40px;
    
}
.cart_rside-amount{
    border-radius: 30px;
    margin-top: 30px;
    height: 200px;
    font-size:50px;
    background-color: black;
    color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.cart_rside-amount-amount{
    float: left;
    width: 100%;
 margin-top: 60px;
    
}

.cart_rside-pay{
    position: relative;
    top: 100px;
    background-color: green;
    font-size: 20px;
}
.ceo_photo{
    
    height: 150px;
    width: 160px;
    float: left;
}
.ceo_message{
   font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}
.featured-products-sidenav{
    width: 100%;
    height:600px;
    background-color:green;
    float: left;
}


.featured-products-main{
    float: left;
      width: 100%;
    height:100%;
    background-color:steelblue;
}

.featured-products-footer{
    float: left;
    height: 50px;
    width: 100%;
    background-color: chartreuse;
}

/********************************/


.left-arrow,.left-arrow1,.left-arrow2{
    
	width:20px;
	height:20px;
	display:block;
margin-left: 10px;
    margin-top: 80px;
	float:left;
   margin-right: 10px;
}

.right-arrow,.right-arrow1,.right-arrow2{
   padding-right: 10px;
	width:20px;
	height:20px;
	display:block;
	margin-left:10px;
	float:left;	
     margin-top: 80px;
}


/**************************************************************/

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 600px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 650px;
  border-left: none;
  height: 600px;
}
.abc{
  display:none;
}

/* Bordered form */
.modal1 form,.modal form {
  border: 3px solid #f1f1f1;
   
}

/* Full-width inputs */
.container input[type=text], .container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}


.modal1{
    opacity: 1;
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


 

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}


.close:hover,.close:focus {
  color: red;
  cursor: pointer;
}


* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


 button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

    
    
    
    
    